<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830338990221-uu2r7k3gtthmb3k92lrb1u9qb745tgjb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830338990221-uu2r7k3gtthmb3k92lrb1u9qb745tgjb</string>
	<key>API_KEY</key>
	<string>AIzaSyB6Tan9osTPQm1Dj_8REZuKwUxxAVLXmhw</string>
	<key>GCM_SENDER_ID</key>
	<string>830338990221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nelsonsolorzano.appsam</string>
	<key>PROJECT_ID</key>
	<string>sam-app-446ee</string>
	<key>STORAGE_BUCKET</key>
	<string>sam-app-446ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830338990221:ios:bad03db16a243c93cde2c4</string>
	<key>DATABASE_URL</key>
	<string>https://sam-app-446ee.firebaseio.com</string>
</dict>
</plist>